/*---------------------------------------*/
/*-    Mobile First CSS Declarations    -*/
/*---------------------------------------*/
* { box-sizing: border-box;
}

h1, h2, h3 {
font-size:          2.6vw;  /* Make H1 font size scaleable at 3.6 percent viewport width */
text-align:         center;
}

img {
    width:    100%;
}

p {
    padding-left:    5px;
    scroll-padding:   5px;
}

/*-------------------*/
/*- Floats          -*/
/*-------------------*/
.sidebar
{
    float: left;
}

.main-content {
 /*   float: left;*/
}
.footer
{
    padding-left:  5px;
    padding-right: 5px;
}

footer {
    clear: both;
}

.copyright {
    clear:          both;
    width:          130px;
    font-size:      .83em; 
    margin-top:     10px;
    text-align:     center;
}
/*-----------------------------------------------------*/
/*-   (Mobile Portrait) Declaratons                   -*/
/*-----------------------------------------------------*/
  body {
    background-color:   #000000;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      background-color: #A0522D;
      color:         #ffffff;
      margin-top:    2.5px;
      margin-bottom: 2.5px;
      margin-left:   5px;
      margin-right:  5px;
      padding-top:       5px;
      padding-bottom:    5px;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .text-on-background-1 {
      background:   #A0522D;
      color:        #ffffff;
      text-align:   center;
  }

  .birth-death-date-color {
      background:   #454545;
      color:        #ffffff;
  }

  .text-on-background-2 {
      background:   #A0522D;
      color:        #ffffff;
      text-align:   left;
  }

  .big-letters {
      font-size:    1.5em;
      font-style:   italic;
      background-color: #000000;
      color:        #ffffff;      
  }

  .georgia-state-color {
      background-color:   #FFE5B4;
      color:              #000000;
      font-size:          1em;
      font-weight:        bold;
  }
  
  .illinois-state-color {
      background-color:   #EE82EE;
      color:              #000000;
      font-size:          1em;
      font-weight:        bold;
  }
  
 [id*="main-content"] {
 /*     background-color: #e9e9e9;*/
      border:           1px solid black;
  }
      
   h1 {font-size:   1em;}
   h2 {font-size:  .75em;}
   h3 {font-size:  .58em;}
   h4 {font-size:  .50em;}
   h5 {font-size:  .41em;}
   h6 {font-size:  .37em;}
   
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

/*-------------------------------------------------------*/
/*-  (Mobile) Landscape Declarations                    -*/
/*-------------------------------------------------------*/
@media only screen and (orientation: landscape) {
    /* mobile only: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3, .col-3a {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/*-----------------------------------------------------*/
/*-   (Tablet) Accomodations                          -*/
/*-----------------------------------------------------*/
@media only screen and (min-width: 600px) {
  /* For tablets: */
   h1 {font-size:   1.25em;}
   h2 {font-size:  .93em;}
   h3 {font-size:  .72em;}
   h4 {font-size:  .62em;}
   h5 {font-size:  .51em;}
   h6 {font-size:  .46em;}
   
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3, .col-3a {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  footer {
      clear: both;
  }
}

/*-----------------------------------------------------*/
/*- (Desktops) Accomodations                          -*/
/*-----------------------------------------------------*/
@media only screen and (min-width: 768px) {
   h1 {font-size:   1.56em;}
   h2 {font-size:   1.16em;}
   h3 {font-size:  .90em;}
   h4 {font-size:  .77em;}
   h5 {font-size:  .63em;}
   h6 {font-size:  .57em;}
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3, .col-3a {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  footer {
      clear: both;
  }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    [class*="col-"] {
      width: 100%;
    }
/*
    img {
        margin-top: 0px;
        margin-bottom: 10px;
        width: 100%;
    }
*/
  }
  