/*------------------------------*/
/*- Red-On-White-Color-Scheme  -*/
/*------------------------------*/
  body {
    background-color:   #000000;
  } 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      background-color: #cc0000;
      color:         #ffffff;
      margin-top:    5px;
      margin-bottom: 2.5px;
      margin-left:   5px;
      margin-right:  5px;
      padding-top:       5px;
      padding-bottom:    5px;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .caption-title {
      background-color:   #cc0000;
      color:        #ffffff;
      text-align:   center;
      padding-left: 5px;
      padding-right: 5px;
  }

#copyright-1,
#copyright-2,
#email-contact-us,
#company-name
{
    width:  190px;
    margin: 3.0px auto;
    padding: 1.0px;
    font-size: 12px;
    font-weight: bold;
    background: #cc0000;
    color: #ffffff;
    display: none;
}
#copyright-2 {
    margin-bottom: 5px;
}
/*------------------------------*/
/*- Red-On-White-Color-Scheme  -*/
/*------------------------------*/